---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import  { siteContent, type Locale } from "../data/siteContent";
import Head from "../components/Head.astro";

interface Props {
  locale: Locale;
}
type PageKey = 'home' | 'about' | 'projects' | 'contact';

const { locale } = Astro.props;
const content = siteContent[locale];

const pathParts = Astro.url.pathname.split("/").filter(Boolean);
const pageKey: PageKey = (pathParts[1] as PageKey) ?? 'home';

const seo = content[pageKey];
---

<!doctype html>
<html lang={locale}>
  <head>
    <Head title={seo.title} description={seo.meta_description} />
  </head><body class="body">
    <main class="main">
      <slot />
    </main>
    <Footer locale={locale} />
  </body>
</html>
